* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin  s'), url(css/fonts/roboto-regular.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(css/fonts/roboto-regular.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(css/fonts/roboto-regular.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(css/fonts/roboto-regular.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    background: rgb(28,0,36);
    background: linear-gradient(180deg, rgba(28,0,36,1) 0%, rgba(9,102,121,1) 35%, rgba(0,255,190,1) 100%);
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
}

h1 {
    color: #FFF;
    text-align: center;
}

.display-outer {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;
    background: #CCC;
    overflow: auto;
}

.display-inner {
    margin: 15px;
    width: 220px;
    height: 220px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 110px;
    background: #333;
    color: #FFF;
    text-align: center;
}

#setpoint {
    padding-top: 15px;
}

#setpoint .label {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 12px;
}

#setpoint .value {
    font-size: 25px;
}

#temp {
    padding-top: 30px;
}

#temp .label {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 12px;
}

#temp .value {
    font-size: 28px;
}

#timer {
    padding-top: 30px;
}

#timer .label {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 12px;
}

#timer .value {
    font-size: 25px;
}

#controls {
    margin: 0 auto;
    text-align: center;
}

#inputs {
    height: 80px;
    margin: 20px 0;
}

#inputs h3 {
    margin: 0;
    line-height: 40px;
    text-align: center;
    color: #FFF;
}

#inputs input {
    display: none;
    width: 50%;
    margin: 0 auto;
    height: 40px;
    font-size: 22px;
    text-align: center;
}

#inputs input.active {
    display: block;
}

#controls button {
    background: #334444;
    width: 40%;
    height: 80px;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 0;
    font-size: 22px;
    color: #FFF;
    font-weight: 700;
    border: none;
    outline: none;
}

#controls button.alpha {
    margin-right: 10%;
}

#controls #controls-update {
    width: 330px;
    margin: 10px 0 0 0;
}